# Database
DATABASE_URL=postgresql+asyncpg://postgres:[D501612n]@db.jfppdpfpmahhsndiecev.supabase.co:5432/postgres

# Redis Cache & Rate Limiting
REDIS_URL=redis://localhost:6379

# Authentication
JWT_SECRET_KEY=73994c5b3d6c51836440df0d1df5ffbcbfac6eccb56b04686b97cf3a60624d29

# OpenAI Target
OPENAI_API_KEY=7lHZBGaT7RWHGdJMUr7ZRRgG1Y5p7S2Ojw2KiFnEXtWqpOzw8vI0JQQJ99CFACHYHv6XJ3w3AAAAACOGMHFH
# Observability
SENTRY_DSN=https://f9cef95df81e07f8565f929da3d30de0@o4511599092695040.ingest.de.sentry.io/4511599593390160

# Security Firewall
FIREWALL_MODE=BLOCK
